name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 */1 * * *'

  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: first commit
        run: date >> log.md

      - name: second commit
        run: |
          git add .
          git config user.name '1337tr'
          git config user.email '142553706+1337tr@users.noreply.github.com'
          git commit -m "Follow @1337tr"
          git push 
          
      - name: third commit
        run: sed -i '$ d' log.md
        
      - name: finishing
        run: |
          git add .
          git config user.name '1337tr'
          git config user.email '142553706+1337tr@users.noreply.github.com'
          git commit -m "Follow @1337tr"
          git push 
